.container{
  width: 640px;
  height: 720px;
  background-color: #141c24;
  border-radius: 10px;
}

.form{
  display: grid;
  grid-template-columns:  1em 1fr 1em;
  grid-template-rows: 1em 1fr 1fr 1fr 1fr 1fr 1fr 1em;
  justify-items: center;
}

.heading{
  grid-row: 2/3;
  grid-column: 2/3;
}

.google-button{
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-items: center;
}

.email{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 2/3;
  grid-row: 4/5;

  input{
    width: 500px;
  }
}

.password{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 2/3;
  grid-row: 5/6;
}

.confirm-password{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 2/3;
  grid-row: 6/7;
}

.submit{
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 7/8
}

  :host ::ng-deep p-password input {
    width: 500px;
  }

  :host ::ng-deep input {
    background-color: #384454;
  }

 :host ::ng-deep .p-password-panel {
    width: 200px
}
