<h3>User information</h3>
<div class="container" *ngIf="userInfo$ | async as userInfo">
  <div class="row">
    <span>Name : {{ userInfo.profileInformation.firstName }}</span>
  </div>
  <div class="row">
    <span>Last Name : {{ userInfo.profileInformation.lastName }}</span>
  </div>
  <div class="row">
    <span>Income : {{ userInfo.financialInformation.monthlyIncome }}€</span>
  </div>
  <div class="row">
    <span>Net worth : {{ userInfo.financialInformation.netWorth }}€</span>
  </div>
</div>
