<div class="container">
  <form>
    <h1>Tell us about yourself</h1>
    <div class="form-row">
      <div class="form-label">First Name</div>
      <div class="form-item">
        <input pInputText formControlName="firstName" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">Last Name</div>
      <div class="form-item">
        <input pInputText formControlName="lastName" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label"></div>
      <div class="form-item">
        <input pInputText formControl="address" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label"></div>
      <div class="form-item">
        <p-calendar></p-calendar>
      </div>
    </div>
  </form>
</div>
