<div class="container">
  <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
    <h1>Tell us about yourself</h1>
    <div class="form-row">
      <div class="form-label">First Name</div>
      <div class="form-item">
        <input pInputText formControlName="firstName" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">Last Name</div>
      <div class="form-item">
        <input pInputText formControlName="lastName" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">Address</div>
      <div class="form-item">
        <input pInputText formControlName="address" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">Birthday</div>
      <div class="form-item">
        <p-calendar formControlName="birthday"></p-calendar>
      </div>
    </div>
    <div class="form-row-actions">
      <div class="submit">
        <button
          type="submit"
          pButton
          label="Next"
          [disabled]="!personalInfoForm.valid"
        ></button>
      </div>
    </div>
  </form>
</div>
