<div class="container">
  <form class="form" [formGroup]="financialInfoForm" (ngSubmit)="onNext()">
    <div class="form-row">
      <label class="form-label">Monthly income</label>
      <div class="form-item">
        <p-inputNumber placeholder="0.00" mode="currency" currency="EUR" formControlName="income"  [maxlength]="12"/>
      </div>
    </div>
    <div class="form-row">
      <label class="form-label">Net worth</label>
      <div class="form-item">
        <p-inputNumber placeholder="0.00" mode="currency" currency="EUR" formControlName="netWorth" [maxlength]="12"/>
      </div>
    </div>

    <div class="form-row-actions">
      <button (click)="onBack()" pButton>Back</button>
      <button
        type="submit"
        pButton
        [disabled]="!financialInfoForm.valid"
      >
        Finish
      </button>
    </div>
  </form>
</div>
