<div class="container">
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="form-item">
      <label class="form-label">Transaction name</label>
      <input type="text" pInputText formControlName="name" />
    </div>
    <div class="form-item">
      <label class="form-label">Time of the transaction</label>
      <p-calendar
        formControlName="timestamp"
        [showTime]="true"
        [yearNavigator]="true"
      ></p-calendar>
    </div>
    <div class="form-item">
      <label class="form-label">Money spent</label>
      <p-inputNumber
        formControlName="amount"
        locale="de-De"
        [minFractionDigits]="2"
        mode="currency"
        placeholder="0,00"
        currency="EUR"
      ></p-inputNumber>
    </div>
    <div class="form-item">
      <label class="form-label">Which category </label>
      <p-dropdown
        [autoDisplayFirst]="false"
        [options]="categories"
        placeholder="Select a Category"
        [showClear]="true"
        formControlName="category"
      ></p-dropdown>
    </div>
    <div class="form-item">
      <button pButton type="submit" label="Submit"></button>
    </div>
  </form>
</div>
