.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
}

.form-label{
  margin-right: 5em;
}

.form-item >.ng-touched.ng-invalid{
  border:1px solid red;
}

.validation-warning{

float:right
}

